@charset "UTF-8";
body{box-sizing:border-box;font:'Arial'16px #424242}input,textarea{border:none;outline:none;resize:none}input:-webkit-autofill,textarea:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}@media (max-width:460px){.box2{width:100%}.box .box3{margin-left:0;margin-top:20.6em}}
